.E{
background-color: black;
color: white;
margin right: 100px;
}
.R{
background-color: aliceblue;
color: aqua;
padding left: 100px ;
padding right: 10px;
margin right: 100px;;

}
.T{
background-color: blueviolet;
color: cornsilk;
}
.A{

background-color: aqua;
color: black;
}
.D{
background-color: chartreuse;
color: black;
padding-right: 100px;
padding-left: 100px;
}
.F{
background-color: chocolate;
color:black;
}




